.main-bg {
    background-image: url(../img/Colored\ Shapes.svg);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background-color: var(--white-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;

}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}